# Credentials
.env

# Data files
Data/

# dbt
ecommerce_pipeline/target/
ecommerce_pipeline/logs/
ecommerce_pipeline/dbt_packages/
profiles.yml

# Airflow
airflow/logs/

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# IDE
.idea/
.vscode/